#weeklyforecast {
    margin-left: 250px
}

aside {
    /* display: inline-block;
    width:120px;
    height:120px;
    border: 1px solid red; */
}

#wrapper {
    border: 1px solid blue;
}

#searchbar {

    display: inline-block;
    width: 160px;
    height: 160px;


}

#weather {

    display: inline-block;
    width: 160px;
    height: 160px;
    border: 1px solid green;
    margin-left: 250px;


}